
.flight {
  display: flex;

  .flight-details {
    flex: 1;

    .flight-route-separator {
      font-size: 3em;
      font-weight: bold;
      margin-left: 2em;
      margin-right: 2em;

      display: inline-block;
    }

    .flight-date-time {
      flex: 1;
      margin-top: 0.8em;
      font-size: 1.5em;

      span {
        margin-right: 1em;
      }
    }
  }

  .flight-carriers {
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flight-price {
    padding: 15px 30px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;

    font-size: 2.5em;
    font-weight: lighter;

    .flight-min-price-label {
      font-size: 0.4em;
      font-weight: normal;
    }
  }
}
