.flights-page {
  & > h3 {
    margin-top: 2em;
  }

  .origin-airport-select {

    &:focus {
      border-color: #437336;
    }
  }

  .form-flights {
    font-size: 1.5em;

    .outbound-from-label {
      margin-top: 3em;
    }

    .dates-container {
      margin-top: 2em;
      display: flex;

      .dates-period-container {
        padding: 1em;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          text-align: center;
        }

        .flights-page-dates {
          display: flex;

          .flights-page-datepicker {
            flex: 1;
            margin: 0.5em 1em;

            & input:focus {
              border-color: #437336;
            }

            .rdtPrev, .rdtSwitch, .rdtNext, .dow {
              color: #437336 !important;
            }

            .rdtActive {
              background-color: #437336 !important;
            }
          }
        }
      }
    }
  }
}
