.flight-airport {
  display: inline-block;
  vertical-align: top;
  width: 10em;

  .flight-airport-iata {
    font-size: 3em;
    font-weight: bold;
  }

  .flight-airport-name {
    color: rgba(0, 0, 0, 0.6)
  }
}
